<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>OAUTH</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="shortcut icon" type="image/x-icon" href="../favicon.png" />
  <style>
    body {
      font-family: arial;
      margin: 0;
    }

    nav {
      background: #42af6c;
      padding: 20px 10px;
    }

    nav ul {
      max-width: 960px;
      margin: 0 auto;
      padding: 0;
    }

    nav li {
      list-style-type: none;
      display: inline-block;
      margin: 0 10px 0 0;
    }

    nav a {
      color: #fff;
      font-size: 18px;
      background: rgba(255, 255, 255, 0.2);
      text-decoration: none;
      padding: 10px;
      display: block;
    }

    main,
    header {
      max-width: 960px;
      margin: 30px auto;
      padding: 0 10px;
      color: #333;
    }

    main img {
      width: 40px;
      margin-right: 10px;
      position: relative;
      top: 12px;
    }

    main p {
      display: inline-block;
    }
  </style>
</head>

<body style="overflow-x: hidden;">
  <% if(errors.length>0) { %> <% for(var i=0; i < errors.length; i++) { %>
  <div class="alert alert-danger"><%= errors[i].msg %></div>
  <% } %> <% } %>
  <nav>
    <ul>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/register">Register</a></li>
      <li><a href="/auth/forgot">Forgot password</a></li>
      <li><a href="/">Homepage</a></li>
      <li><a href="/profile">Profile</a></li>
    </ul>
  </nav>
  <main>
    <%- include('flash'); %>
    <h2 class="page-header">Register</h2>
    <form method="post" action="/auth/register">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Enter your name" autocomplete="off" name="name"
          value="<%= saveData.name %>" />
        <% if(errors["name"]) { %> <div class="alert alert-danger"><%= errors["name"] %></div> <% } %>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="Enter your email" autocomplete="off" name="email"
          value="<%= saveData.email %>" />
        <% if(errors["email"]) { %> <div class="alert alert-danger"><%= errors["email"] %></div> <% } %>

      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password"
          value="<%= saveData.password %>" />
        <% if(errors["password"]) { %> <div class="alert alert-danger"><%= errors["password"] %></div> <% } %>
      </div>
      <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password2"
          value="<%= saveData.password2 %>" />
        <% if(errors["password2"]) { %> <div class="alert alert-danger"><%= errors["password2"] %></div> <% } %>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>